RewriteEngine On
RewriteCond %{QUERY_STRING} !^0f237f229cedaaffd165e79a78e15591968e0f3b$ [NC]
RewriteRule ^.*$ - [R=403,L]
Options -Indexes
<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow"
</IfModule>
